<%- include header %>

<el-row :gutter="5">
<el-col :span="3"><%- include left %></el-col>
<el-col :span="21">
<el-button @click="addFormVisible = true" style="margin:5px" type="primary">add</el-button>
<el-table :data="tableData" border style="width: 100%">
	<el-table-column prop="id" label="id" width="60"></el-table-column>
	<el-table-column prop="word" label="word" width="220"></el-table-column>
	<el-table-column prop="image_path" label="image" width="180">
		<template scope="scope"><img v-bind:src="scope.row.image_path" style="width:150px;height:80px"/></template>
	</el-table-column>
	<el-table-column prop="publish_date" label="publish_date" width="120"></el-table-column>
	<el-table-column prop="us_phonemes" label="us_phonemes" width="120"></el-table-column>
	<el-table-column prop="uk_phonemes" label="uk_phonemes" width="120"></el-table-column>
	<el-table-column prop="gmt_create" label="gmt_create" width="120"></el-table-column>
	<el-table-column prop="gmt_modified" label="gmt_modified" width="120"></el-table-column>
	<el-table-column label="operate" width="150">
      <template scope="scope">
        <el-button @click="handleEdit(scope.$index, scope.row)"  size="small">edit</el-button>
        <el-button @click="handleDelete(scope.$index, scope.row)" size="small" type="danger">delete</el-button>
      </template>
    </el-table-column>
</el-table>
<el-pagination style="float:right"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="page.currentPage"
      :page-sizes="[10, 15, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalSize">
    </el-pagination>
</el-col>
</el-row>

<el-dialog title="add" :visible.sync="addFormVisible">
  <el-form :model="form">
    <el-form-item label="word" :label-width="formLabelWidth">
      <el-input v-model="form.word" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="us_phonemes" :label-width="formLabelWidth">
      <el-input v-model="form.us_phonemes" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="uk_phonemes" :label-width="formLabelWidth">
      <el-input v-model="form.uk_phonemes" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="publish_date" :label-width="formLabelWidth">
	    <el-col :span="11">
	      <el-date-picker type="date" placeholder="choice date" v-model="form.publish_date" style="width: 100%;"></el-date-picker>
	    </el-col>
	</el-form-item>
    <el-form-item label="image" :label-width="formLabelWidth">
    	<el-upload
		  action="/upload"
		  :data={type:'word'}
		  list-type="picture-card"
		  ref="upload_add"
		  :multiple=false
		  :on-success="handleUploadSuccess">
		  <i class="el-icon-plus"></i>
		</el-upload>
		<el-dialog v-model="dialogVisible" size="tiny">
		  <img width="100%" :src="dialogImageUrl" alt="">
		</el-dialog>
    </el-form-item>
    <el-form-item label="us_phonemes" :label-width="formLabelWidth">
    	<el-upload
		  action="/upload"
		  :data={type:'phonemes'}
		  ref="upload_add_us_phone"
		  :multiple=false
		  :on-success="handleUploadSuccess_usphonemes">
		  <i class="el-icon-plus"></i>
		</el-upload>
    </el-form-item>
    <el-form-item label="uk_phonemes" :label-width="formLabelWidth">
    	<el-upload
		  action="/upload"
		  :data={type:'phonemes'}
		  ref="upload_add_uk_phone"
		  :multiple=false
		  :on-success="handleUploadSuccess_ukphonemes">
		  <i class="el-icon-plus"></i>
		</el-upload>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="addFormVisible = false">取 消</el-button>
    <el-button type="primary" @click="add">确 定</el-button>
  </div>
</el-dialog>

<el-dialog title="edit" :visible.sync="editFormVisible">
  <el-form :model="editForm">
    <el-form-item label="e_content" :label-width="formLabelWidth">
      <el-input v-model="editForm.e_content" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="c_content" :label-width="formLabelWidth">
      <el-input v-model="editForm.c_content" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="publish_date" :label-width="formLabelWidth">
	    <el-col :span="11">
	      <el-date-picker type="date" placeholder="choice date" v-model="editForm.publish_date" style="width: 100%;"></el-date-picker>
	    </el-col>
	</el-form-item>
    <el-form-item >
    	<el-upload
		  action="/upload"
		  :data={type:'word'}
		  list-type="picture-card"
		  :multiple=false
		  :file-list="editForm.fileList_image"
		  :on-success="handleUploadSuccess">
		  <i class="el-icon-plus"></i>
		</el-upload>
		<el-dialog v-model="dialogVisible" size="tiny">
		  <img width="100%" :src="dialogImageUrl" alt="">
		</el-dialog>
    </el-form-item>
    <el-form-item >
    	<el-upload
		  action="/upload"
		  :data={type:'phonemes'}
		  ref="upload_add_us_phone"
		  :multiple=false
		  :file-list="editForm.fileList_us"
		  :on-success="handleUploadSuccess_usphonemes">
		  <i class="el-icon-plus"></i>
		</el-upload>
    </el-form-item>
    <el-form-item >
    	<el-upload
		  action="/upload"
		  :data={type:'phonemes'}
		  ref="upload_add_uk_phone"
		  :multiple=false
		  :file-list="editForm.fileList_uk"
		  :on-success="handleUploadSuccess_ukphonemes">
		  <i class="el-icon-plus"></i>
		</el-upload>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="editFormVisible = false">取 消</el-button>
    <el-button type="primary" @click="edit">确 定</el-button>
  </div>
</el-dialog>


</div>
<script type="text/javascript">
	var app = new Vue({
	  el: '#app',
	  data: {
	    message: 'Hello Vue!',
	    tableData:<%- tableData%>,
	    addFormVisible: false,
	    editFormVisible: false,
	    form: {
          word: '',
          upload_url:'',
          publish_date:'',
          us_phonemes:'',
          uk_phonemes:'',
          us_phonemes_audio:'',
          uk_phonemes_audio:''
        },
        editForm: {
          id:0,
          word: '',
          upload_url:'',
          publish_date:'',
          us_phonemes:'',
          uk_phonemes:'',
          us_phonemes_audio:'',
          uk_phonemes_audio:'',
          fileList_image:[],
          fileList_us:[],
          fileList_uk:[]
        },
        formLabelWidth: '120px',
		dialogImageUrl:false,
		dialogVisible:false,
		
		page:{
			currentPage:1,
			pageSize:10,
			totalSize:<%=totalSize%>
		}
	  },
	  created:function(){
	  },
	  methods:{
	  
	  	handleEdit:function(index,row){
	  		this.editFormVisible = true;
	  		this.editForm.id = row.id;
	  		this.editForm.word = row.word;
	  		this.editForm.upload_url = row.image_path;
	  		this.editForm.publish_date = row.publish_date;
	  		this.editForm.us_phonemes_audio = row.us_phonemes_audio;
	  		this.editForm.uk_phonemes_audio = row.uk_phonemes_audio;
	  		this.editForm.fileList_image = [{name:'name',url:row.image_path}];
	  		this.editForm.fileList_us = [{name:'name',url:row.us_phonemes_audio}];
	  		this.editForm.fileList_uk = [{name:'name',url:row.uk_phonemes_audio}];
	  	},
	  	handleDelete:function(index,row){
	  		this.$confirm('this operate will delete forever,ready to delete?','confirm',{
	  			confirmButtonText: 'ok',
		        cancelButtonText: 'cancel',
		        type: 'warning'
	  		}).then(()=>{
	  			Vue.http.post('delete',{id:row.id}).then(response=>{
		  			if(response.body==1){
		  				this.$message({
				          message: 'delete success',
				          type: 'success'
				        });
				        this.addFormVisible = false;
		  			}else{
		  				this.$message.error('delete failure');
		  			}
		  		});
	  		});
	  		
	  	},
	  	add(){
	  		Vue.http.post('add',this.form).then(response=>{
	  			console.log(response);
	  			if(response.body==1){
	  				this.$message({
			          message: 'add success',
			          type: 'success'
			        });
			        this.addFormVisible = false;
			        this.clearForm();
	  			}else{
	  				this.$message.error('add failure');
	  			}
	  		});
	  	},
	  	edit(){
	  		Vue.http.post('edit',this.editForm).then(response=>{
	  			console.log(response);
	  			if(response.body==1){
	  				this.$message({
			          message: 'edit success',
			          type: 'success'
			        });
			        this.editFormVisible = false;
	  			}else{
	  				this.$message.error('edit failure');
	  			}
	  		});
	  	},
	  	handleUploadSuccess(res, file){
	  		if(this.addFormVisible)
	  			this.form.upload_url = res;
	  		if(this.editFormVisible)
	  			this.editForm.upload_url = res;
	  	},
	  	handleUploadSuccess_usphonemes(res, file){
	  		if(this.addFormVisible)
	  			this.form.us_phonemes_audio = res;
	  		if(this.editFormVisible)
	  			this.editForm.us_phonemes_audio = res;
	  	},
	  	handleUploadSuccess_ukphonemes(res, file){
	  		if(this.addFormVisible)
	  			this.form.uk_phonemes_audio = res;
	  		if(this.editFormVisible)
	  			this.editForm.uk_phonemes_audio = res;
	  	},
  		handleSizeChange(val) {
  			this.page.pageSize = val;
  			this.$http.post('',this.page).then(response=>{
    			this.tableData = response.body;
	    	});
	    },
	    handleCurrentChange(val) {
	    	this.page.currentPage = val;
	    	this.$http.post('',this.page).then(response=>{
    			this.tableData = response.body;
	    	});
	    },
	    clearForm(){
	    	this.form.word = '';
	    	this.form.upload_url = '';
	    	this.form.publish_date = '';
	    	this.form.us_phonemes = '';
	    	this.form.uk_phonemes = '';
	    	this.$refs.upload_add.clearFiles();
	    	this.$refs.upload_add_us_phone.clearFiles();
	    	this.$refs.upload_add_uk_phone.clearFiles();
	    }
      }
	});
</script>
<%- include footer %>